<header class="navbar sticky-top bg-yellow flex-md-nowrap p-0 shadow">

  <a class="navbar-brand px-3" routerLink="/list-personagem">

      MarcaConfiável

  </a>

  <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu">

    <span class="navbar-toggler-icon"></span>

  </button>

</header>

<!-- Sidebar navigation -->

<div class="container-fluid">

  <div class="row flex-nowrap">

    <nav id="sidebarMenu" class="col-md-2 d-md-block bg-yellow sidebar collapse">

        <ul class="nav flex-column min-vh-100">

          <li class="nav-item">

            <a class="nav-link" routerLink="/add-personagem" routerLinkActive="active">

              Adicionar Personagem

            </a>

          </li>

          <li class="nav-item">

            <a class="nav-link active" routerLink="/list-personagem" routerLinkActive="active">

              Lista de Personagems

            </a>

          </li>

        </ul>

    </nav>

    <!-- Main content -->

    <main class="col-md-10 bg-dark font-white">

      <router-outlet></router-outlet>

    </main>

  </div>

</div>
