<div class="pt-3 pb-2 mb-3 border-bottom">

  <h2 class="h2">Adicionar Personagem</h2>

</div>

<!-- HEADER -->

<!-- FORMULÁRIO -->

<form [formGroup]="personagemForm" (ngSubmit)="submitForm()" novalidate>

  <!-- ADAPTA O TAMANHO DO FORMULÁRIO DE ACORDO COM A TELA-->

  <div class="row">

    <div class="col-lg-6 col-md-8 col-sm-12">

      <!-- LINHA 1 - CAMPO NOME -->

      <div class="row">

        <div class="col-md-12 mb-3">

          <label

            [ngClass]="{'text-danger': nome?.touched && nome?.invalid}"

            for="nome" class="form-label">Nome</label>

          <input

            [ngClass]="{'is-invalid': nome?.touched && nome?.invalid, 'is-valid': nome?.touched && nome?.valid}"

            type="text" id="nome" class="form-control" formControlName="nome" required/>

          <!-- errors-->

          <div class="invalid-feedback"><sup>*</sup>Nome obrigatório</div>

        </div>

      </div>

      <!-- LINHA 1 - CAMPO NOME -->

      <!-- LINHA 2 - CAMPO raca -->

      <div class="row">

        <div class="col-md-12 mb-3">

          <label

            [ngClass]="{'text-danger': raca?.touched && raca?.invalid}"

            for="raca" class="form-label">Raça</label>

          <input

            [ngClass]="{'is-invalid': raca?.touched && raca?.invalid, 'is-valid': raca?.touched && raca?.valid}"

            type="text"

            formControlName="raca"

            class="form-control"

            required

          />

          <!-- Validation FeedBack -->

          <div class="invalid-feedback"><sup>*</sup>Raça obrigatória</div>

        </div>

      </div>

      <!-- LINHA 2 - CAMPO raca -->

      <!-- LINHA 3 - CAMPO serieDeOrigem -->

      <div class="row">

        <div class="col-md-12 mb-3">

          <label

            [ngClass]="{'text-danger': serieDeOrigem?.touched && serieDeOrigem?.invalid}"

            for="serieDeOrigem" class="form-label">Série De Origem:</label>

          <input

            [ngClass]="{'is-invalid': serieDeOrigem?.touched && serieDeOrigem?.invalid, 'is-valid': serieDeOrigem?.touched && serieDeOrigem?.valid}"

            type="text"

            formControlName="serieDeOrigem"

            class="form-control"

            required

          />

          <!-- Validation FeedBack -->

          <div class="invalid-feedback"><sup>*</sup>Série de origem obrigatória</div>

        </div>

      </div>

      <!-- LINHA 3 - CAMPO serieDeOrigem -->

      <!-- BOTÕES DO FORMULÁRIO -->

      <div class="form-group text-end">

        <button type="button" class="btn btn-secondary mx-2" (click)="resetForm()">

          Limpar

        </button>

        <button type="submit" class="btn btn-success mx-2" [disabled]="!personagemForm.valid">

          Adicionar Personagem

        </button>

      </div>

      <!-- BOTÕES DO FORMULÁRIO -->

    </div>

  </div>

 <!-- ADAPTA O TAMANHO DO FORMULÁRIO DE ACORDO COM A TELA-->

</form>
